<div class="row">
  <div class="col-11">
    <div class="content-header">Structure</div>
  </div>
  <div class="col-1">
    <div class="content-header">

      <app-list-actions
        [addActionCode]="'ACT_STRUCTURE_SPA'"
        (add)="openContent()">
      </app-list-actions>
      <!--<button type="button" class="btn btn-primary mr-0" (click)="openContent()"><i class="ft-check-square mr-0"></i>Ajouter</button>-->

    </div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th width="10%">Code</th>
                    <th width="40%">Libellé</th>
                    <th width="30%">Adresse</th>
                    <th width="10%">Pays</th>
                    <th width="10%">Actions</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="structures">
                  <tr  *ngFor="let structure  of structures;">
                    <td>{{structure.code}}</td>
                    <td>{{structure.libelle}}</td>
                    <td>{{structure.adresse}}</td>
                    <td>{{structure.pays.libelle}}</td>
                    <td class="text-truncate">
                      <app-list-actions
                        [item]="structure"
                        [editActionCode]="'c54673bc-f08d-4c35-8911-f0507da0ce19'"
                        [deleteActionCode]="'20887c43-c525-4efd-a18f-6efcbbc474e4'"
                        (edit)="formEdit($event)"
                        (delete)="formDelete($event)">
                      </app-list-actions>

                        </td>
                  </tr>
                  </tbody>
                </table>
                <app-config-pagination
                  [currentPage]="currentPage"
                  [totalPages]="totalPages"
                  [pageSize]="pageSize"
                  (pageChange)="onPageChange($event)"
                  (pageSizeChange)="onPageSizeChange($event)">
                </app-config-pagination>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

