<!--Lock Screen Starts-->
  <section id="lock-screen" >
  <div class="row auth-height full-height-vh m-0" >
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <form [formGroup]="addForm">
            <div class="row m-0">
              <div class="col-lg-6 d-lg-flex justify-content-center align-items-center d-none text-center auth-img-bg p-3">
                <img src="assets/img/baac/activate.png" alt="" class="img-fluid" height="230" width="280">
              </div>
              <div class="col-lg-6 col-md-12 py-3 px-4">
                <ngb-alert *ngIf="success" type="light-success" class="bg-light-success mb-2" [dismissible]="false">
                  <span class="mb-0">Mot de passe modifié avec succès </span>
                  <a href="http://localhost:4200/pages/login" class="font-weight-bold text-success"> cliquez ici </a> pour se connecter
                </ngb-alert>

                <h4 class="card-title mb-3">Pour finaliser l'activation de votre compte, veuillez modifier votre mot de passe afin d'accéder au STOCK-PRIX.</h4>
                <br/>
                <div class="form-row">
                  <div class="col-12">
                    <label for="password">Mot de passe</label>
                <div class="input-group">
                  <!--<div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon"><i class="ft-rotate-cw spinner"></i></span>
                  </div> -->
                  <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="Mot de passe" id="password"
                         [ngClass]="{ 'is-invalid': submitted && lf.password.invalid, 'is-valid': submitted && !lf.password.invalid }" aria-describedby="basic-addon5">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="hidePassword = !hidePassword" ><i class="fa" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"></i></button>
                  </div>
                </div>
                <div *ngIf="addForm.controls.password.errors?.minlength"
                     class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Le mot de passe doit contenir au moins 8 caractères.</div>
                    <div *ngIf="submitted && (lf.password.invalid || lf.password.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Le mot de passe est obligatoire</div>

                  </div>

                </div>

                <div class="form-row">
                  <div class="col-12">
                    <label for="password">Confirmer mot de passe</label>
                    <div class="input-group">
                     <!-- <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon5"><i class="ft-rotate-cw spinner"></i></span>
                      </div> -->
                      <input  [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" class="form-control" placeholder="Confirmer mot de passe" id="confirmPassword"
                             [ngClass]="{ 'is-invalid': submitted && lf.confirmPassword.invalid, 'is-valid': submitted && !lf.confirmPassword.invalid }" aria-describedby="basic-addon5" >
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="hideConfirmPassword = !hideConfirmPassword"> <i class="fa" [ngClass]="hideConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i></button>
                      </div>
                    </div>
                    <div *ngIf="(addForm.controls.confirmPassword.value !=='') && (addForm.errors?.notSame)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Les deux mots de passe ne sont pas identiques </div>
                    <div *ngIf="submitted && (lf.confirmPassword.invalid || lf.confirmPassword.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> La confirmation du mot de passe est obligatoire</div>

                  </div>
                </div>
                <div class="form-row">
                  <div class="col-10">
                  </div>
                  <div class="col-2">
                <button type="button" [disabled]="addForm.invalid" class="btn btn-primary mr-2" (click)="onSubmit()"><i class="ft-check-square mr-1"></i>Envoyer</button>
                  </div></div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Lock Screen Ends-->
