<div class="row">
  <div class="col-11">
    <div class="content-header">Decoupage 1</div>
  </div>
  <div class="col-1">
    <div class="content-header">
     <!--<button type="button" class="btn btn-primary mr-0" (click)="openContent()"><i class="ft-check-square mr-0"></i>Ajouter</button>-->
      <app-list-actions
        [item]="decoupage1"
        [addActionCode]="'6cbd3dea-8ab9-4141-85be-95d0b19d7457'"
        (add)="openContent()">
      </app-list-actions>
    </div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th width="10%">Code 1</th>
                    <th width="40%">Libellé</th>
                    <th width="40%">Pays</th>
                    <th width="10%">Actions</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="decoupage1s">
                  <tr  *ngFor="let decoupage1  of decoupage1s;">
                    <td>{{decoupage1.code}}</td>
                    <td>{{decoupage1.libelle}}</td>
                    <td>{{decoupage1.pays.libelle}}</td>
                    <td class="text-truncate">
                      <app-list-actions
                        [item]="decoupage1"
                        [editActionCode]="'efd2c0ed-6d42-4b70-908b-9b6ba87c5b06'"
                        [deleteActionCode]="'d047ef60-ce53-4180-92f3-49ff9624c948'"
                        (edit)="formEdit($event)"
                        (delete)="formDelete($event)">
                      </app-list-actions>

                        </td>
                  </tr>
                  </tbody>
                </table>
                <app-config-pagination
                  [currentPage]="currentPage"
                  [totalPages]="totalPages"
                  [pageSize]="pageSize"
                  (pageChange)="onPageChange($event)"
                  (pageSizeChange)="onPageSizeChange($event)">
                </app-config-pagination>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

