<div class="row">
  <div class="col-11">
    <div class="content-header">Decoupage 2</div>
  </div>
  <div class="col-1">
    <div class="content-header">
     <!-- <button type="button" class="btn btn-primary mr-0" (click)="openContent()"><i class="ft-check-square mr-0"></i>Ajouter</button>-->
      <app-list-actions
        [item]="decoupage2"
        [addActionCode]="'8a77f8c2-932a-4d4f-b458-4975b697ea3f'"
        (add)="openContent()">
      </app-list-actions>

    </div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th width="10%">Code</th>
                    <th width="40%">Libellé</th>
                    <th width="40%">Découpage 1</th>
                    <th width="10%">Actions</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="decoupage2s">
                  <tr  *ngFor="let decoupage2  of decoupage2s;">
                    <td>{{decoupage2.code}}</td>
                    <td>{{decoupage2.libelle}}</td>
                    <td>{{decoupage2.decoupage1.libelle}}</td>
                    <td class="text-truncate">
                      <app-list-actions
                        [item]="decoupage1"
                        [editActionCode]="'289def32-fc13-426d-b3d9-c91aa63fc30a'"
                        [deleteActionCode]="'6e9ca58d-abb0-4e3e-9cbd-deb5ae51c71a'"
                        (edit)="formEdit($event)"
                        (delete)="formDelete($event)">
                      </app-list-actions>

                        </td>
                  </tr>
                  </tbody>
                </table>
                <app-config-pagination
                  [currentPage]="currentPage"
                  [totalPages]="totalPages"
                  [pageSize]="pageSize"
                  (pageChange)="onPageChange($event)"
                  (pageSizeChange)="onPageSizeChange($event)">
                </app-config-pagination>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

