<div class="row">
  <div class="col-12">
    <div class="col-12 text-center" style="padding: 0.5rem!important;">
      <span class="badge badge-light mb-2 mr-2">Cumul prix par période </span>
    </div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">

          <div class="card-body">



              <div class="card-body table-responsive">
                <div class="col-12 text-center" style="padding: 0.1rem!important;">
                  <form [formGroup]="addForm">
                  <table class="table  text-center m-0">
                  <tr>
                    <th >            <div class="form-group mb-2">
                      <label for="region">Région</label>
                      <select class="form-control" (ngModelChange)="onChangeRegion($event)"   [(ngModel)]="region" [compareWith]="compareFn" formControlName="region" id="region" name="region" >
                        <option [ngValue]="null" >-- Région --</option>
                        <option *ngFor="let region of regions;" [ngValue]="region"  >{{region.nom }}</option>

                      </select>

                    </div></th>
                    <th >            <div class="form-group mb-2">
                      <label for="departement">Departement</label>
                      <select class="form-control"  [(ngModel)]="departement" [compareWith]="compareFn" formControlName="departement" id="departement" name="departement">
                        <option [ngValue]="null" >-- Departement --</option>
                        <option *ngFor="let departement of departements;" [ngValue]="departement"  >{{departement.nom }}</option>

                      </select>
                    </div></th>
                    <th >   <div class="form-group">
                      <label for="startDate">Date debut</label>
                      <input type="date" formControlName="startDate" class="form-control" placeholder="Date debut" id="startDate" (change)="onDateChange()">
                    </div>
                    </th>
                    <th >
                      <div class="form-group">
                      <label for="endDate">Date fin</label>
                      <input type="date" formControlName="endDate" class="form-control" placeholder="Date fin" id="endDate" (change)="onDateChange()">
                    </div></th>
                    <th>
                      <button type="button" class="btn btn-primary mr-2" (click)="onSearch()"><i class="ft-check-square mr-1"></i>Filtrer</button>
                    </th>
                  </tr>
                  </table>
                  </form>
                </div>

                <form >
                <table class="table  m-0">
                  <thead>
                  <tr>
                    <th >Type produit</th>
                    <th >Produit</th>
                    <th >Quantité stock</th>
                    <th >Prix maximum</th>
                    <th >Prix minimum</th>
                    <th >Prix dominant</th>
                  </tr>

                  </thead>
                  <tbody >
 <!--                 <tr *ngFor="let cumul of cumuls; let i = index" >
                    <td [attr.rowspan]="2" >{{ cumul.typeproduit }} {{cumul.nbre}}</td>
                    <td>{{ cumul.produit }}</td>

                    <td>{{ cumul.quantitestock }}</td>
                    <td>{{ cumul.prixmaximum }}</td>
                    <td>{{ cumul.prixminimum }}</td>
                    <td>{{ cumul.prixdominant }}</td>

                  </tr>
-->
                  <ng-container *ngFor="let cumul of cumuls;">
                    <tr *ngFor="let subItem of cumul.configs; let i = index">
                      <!-- Afficher Test et Nombre une seule fois avec rowspan -->
                      <td *ngIf="i === 0" [attr.rowspan]="cumul.configs.length" style="vertical-align: middle; text-align: center;">{{ cumul.typeproduit }}</td>
                      <!-- Afficher chaque élément de la liste -->
                      <td>{{ subItem.produit }}</td>
                      <td style="text-align: right;"> {{ subItem.quantitestock | number:'1.0-0'}}</td>
                      <td style="text-align: right;">{{ subItem.prixmaximum | number:'1.0-0':'fr-FR'}}</td>
                      <td style="text-align: right;">{{ subItem.prixminimum | number:'1.0-0':'fr-FR'}}</td>
                      <td style="text-align: right;">{{ subItem.prixdominant | number:'1.0-0':'fr-FR'}}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

