<div class="row">
  <div class="col-12">
    <div class="col-12 text-center" style="padding: 0.5rem!important;">
      <span class="badge badge-light mb-2 mr-2">Cumul prix par période </span>
    </div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">

          <div class="card-body">



              <div class="card-body table-responsive">
                <!--<div class="col-12 text-center" style="padding: 0.1rem!important;">
                  <table class="table  text-center m-0">
                  <tr>
                    <th >Date collecte</th>
                    <th >Date collecte</th>
                    <th >Date collecte</th>
                  </tr>
                  </table>
                </div> -->

                <form >
                <table class="table  m-0">
                  <thead>
                  <tr>
                    <th >Type produit</th>
                    <th >Produit</th>
                    <th >Quantité stock</th>
                    <th >Prix maximum</th>
                    <th >Prix minimum</th>
                    <th >Prix dominant</th>
                  </tr>

                  </thead>
                  <tbody >
 <!--                 <tr *ngFor="let cumul of cumuls; let i = index" >
                    <td [attr.rowspan]="2" >{{ cumul.typeproduit }} {{cumul.nbre}}</td>
                    <td>{{ cumul.produit }}</td>

                    <td>{{ cumul.quantitestock }}</td>
                    <td>{{ cumul.prixmaximum }}</td>
                    <td>{{ cumul.prixminimum }}</td>
                    <td>{{ cumul.prixdominant }}</td>

                  </tr>
-->
                  <ng-container *ngFor="let cumul of cumuls;">
                    <tr *ngFor="let subItem of cumul.configs; let i = index">
                      <!-- Afficher Test et Nombre une seule fois avec rowspan -->
                      <td *ngIf="i === 0" [attr.rowspan]="cumul.configs.length" style="vertical-align: middle; text-align: center;">{{ cumul.typeproduit }}</td>
                      <!-- Afficher chaque élément de la liste -->
                      <td>{{ subItem.produit }}</td>
                      <td style="text-align: right;"> {{ subItem.quantitestock | number:'1.0-0'}}</td>
                      <td style="text-align: right;">{{ subItem.prixmaximum | number:'1.0-0':'fr-FR'}}</td>
                      <td style="text-align: right;">{{ subItem.prixminimum | number:'1.0-0':'fr-FR'}}</td>
                      <td style="text-align: right;">{{ subItem.prixdominant | number:'1.0-0':'fr-FR'}}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

