<div class="row">
  <div class="col-12">
    <p class="content-sub-header mb-1 text-center">Point de collecte : <span class="badge badge-danger mb-1 mr-2">{{enteteconfigprix?.entreprise?.nom}}</span>, Ninéa : <span class="badge badge-light mb-1 mr-2">{{enteteconfigprix?.entreprise?.ninea}}</span>, <span *ngIf="enteteconfigprix?.entreprise?.stocked" class="badge badge-success mb-1 mr-2">Gestion de stock</span><span *ngIf="!enteteconfigprix?.entreprise?.stocked" class="badge badge-success mb-1 mr-2">Pas Gestion de stock</span>, Date collecte : <span class="badge badge-info mb-1 mr-2">{{enteteconfigprix?.datecollecte  | date:'dd/MM/yyyy'}}</span></p>

  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">

          <div class="card-body">

              <div class="card-body table-responsive">
                <div class="form-row">
                  <div class="col-1 text-center"  *ngFor="let typeproduit of typeproduits;" >
                    <div class="media-right align-self-center">
                      <img class="rounded-circle mr-1" src="assets/img/produits/{{typeproduit.image}}"
                           height="50" width="50" alt="datatable-avatar" (click)="chargerProduit(typeproduit)">
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center" style="padding: 0.5rem!important;">
                  <span class="badge badge-light mb-2 mr-2">{{title}}</span>
                </div>

                <form *ngIf="configprixsForm" [formGroup]="configprixsForm">
                <table class="table  m-0">
                  <thead>
                  <tr>
                    <th >Produit</th>
                    <th >Prix d'achat (F cfa)</th>
                    <th >Prix de vente (F cfa)</th>
                    <th *ngIf="enteteconfigprix.entreprise.stocked">Stock</th>
                    <th >Unité</th>
                  </tr>
                  </thead>
                  <tbody formArrayName="configprixarrys">
                  <tr *ngFor="let configprix of configprixarrys.controls; let i = index" [formGroupName]="i">
                    <td>{{ configprix.get('produit').value?.libelle }}</td>

                    <td>
                      <input class="form-control"  formControlName="prixachat" (blur)="onEditValue(i)"
                             type="number" >
                    </td>

                    <td>
                      <input class="form-control"  formControlName="prix" (blur)="onEditValue(i)"
                             type="number" >
                    </td>

                    <td *ngIf="enteteconfigprix.entreprise.stocked">
                      <input class="form-control" formControlName="stock" (blur)="onEditValue(i)"
                             type="number" >
                    </td>

                    <td>
                      <div class="form-group mb-2">
                        <select class="form-control"  [compareWith]="compareFn" (change)="onEditValue(i)" formControlName="unite" >
                          <option [ngValue]="null" >-- Unité de mesure --</option>
                          <option *ngFor="let unite of unites;" [ngValue]="unite"  >{{unite.libelle }}</option>
                        </select>
                      </div>
                    </td>

                  </tr>
                  </tbody>
                </table>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

