<div class="row">
  <div class="col-12">
    <p class="content-sub-header mb-1 text-center">Point de collecte : <span class="badge badge-danger mb-1 mr-2">{{enteteconfigprix.entreprise.nom}}</span>, Ninéa : <span class="badge badge-light mb-1 mr-2">{{enteteconfigprix?.entreprise.ninea}}</span>, <span *ngIf="enteteconfigprix.entreprise.stocked" class="badge badge-success mb-1 mr-2">Gestion de stock</span><span *ngIf="!enteteconfigprix.entreprise.stocked" class="badge badge-success mb-1 mr-2">Pas Gestion de stock</span>, Date collecte : <span class="badge badge-info mb-1 mr-2">{{enteteconfigprix?.datecollecte  | date:'dd/MM/yyyy'}}</span></p>

  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <form *ngIf="configprixsForm" [formGroup]="configprixsForm">
                <table class="table  m-0">
                  <thead>
                  <tr>
                    <th >Produit</th>
                    <th >Prix d'achat (F cfa)</th>
                    <th >Prix de vente (F cfa)</th>
                    <th *ngIf="enteteconfigprix.entreprise.stocked">Stock</th>
                    <th >Unité</th>
                  </tr>
                  </thead>
                  <tbody formArrayName="configprixarrys">
                  <tr *ngFor="let configprix of configprixarrys.controls; let i = index" [formGroupName]="i">
                    <td>{{ configprix.get('produit').value?.libelle }}</td>

                    <td>
                      <input class="form-control"  formControlName="prixachat" (blur)="onEditValue(i)"
                             type="number" >
                    </td>

                    <td>
                      <input class="form-control"  formControlName="prix" (blur)="onEditValue(i)"
                             type="number" >
                    </td>

                    <td *ngIf="enteteconfigprix.entreprise.stocked">
                      <input class="form-control" formControlName="stock" (blur)="onEditValue(i)"
                             type="number" >
                    </td>

                    <td>
                      {{ configprix.get('unite').value?.libelle }}
                    </td>

                  </tr>
                  </tbody>
                </table>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

