
<!--/ Filter Datatables -->
<div class="row">
  <div class="col-11">
    <div class="content-header">Gestion des utilisateurs</div>
  </div>
  <div class="col-1">
    <div class="content-header">
      <!--<button type="button" class="btn btn-primary mr-0" (click)="openContent()"><i class="ft-check-square mr-0"></i>Ajouter</button>-->
      <app-list-actions
        [item]="user"
        [addActionCode]="'ADD_UTILISATEUR_SPA'"
        (add)="openContent()">
      </app-list-actions>
    </div>
  </div>
</div>

<!-- Row Details  Datatables -->
<section id="ngx-datatable-row-details">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--<div class="card-header">
          <h4 class="card-title">Row Details</h4>
        </div>-->
        <div class="card-content">
          <div class="card-body">

            <!-- ngx-datatable-row-details -->
            <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                           [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="users" [scrollbarH]="true">
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail [rowHeight]="50">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="ml-5 my-1">
                    <div><strong>Adresse : </strong> {{ row.adresse }}</div>
                    <div><strong>Téléphone :</strong> {{ row.telephone }}</div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                                    [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                     [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                     (click)="rowDetailsToggleExpand(row)">
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Prénom & Nom" prop="nom" [width]="200">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div>
                      <img class="rounded-circle mr-1" src="assets/img/user/user.png"
                           height="32" width="32" alt="datatable-avatar">
                    </div>
                    <!--<ng-template #customAvatar>
                      <div class="avatar mr-1 ml-0"
                           [ngClass]="{'bg-primary': row.status == '1', 'bg-success':row.status == '2', 'bg-danger':row.status == '3' , 'bg-warning':row.status == '4', 'bg-info':row.status == '5'}  ">
                        <div class="avatar-content">{{ name | shortName }}</div>
                      </div>
                    </ng-template> -->
                    <div class="cell-line-height">
                      <p class="font-medium-1 line-height-1 mb-0">{{ row.prenom }} {{ row.nom }}</p>
                      <span class="text-muted font-small-2">
                        {{ row.profile.nom }}</span>
                    </div>
                  </div>
                </ng-template>

              </ngx-datatable-column>
              <ngx-datatable-column name="Username" prop="username" [width]="50"></ngx-datatable-column>
              <ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="enabled" [width]="100">
                <ng-template let-status="value" ngx-datatable-cell-template>
                  <div class="badge badge-pill"
                       [ngClass]="{'bg-light-success': status == '1', 'bg-light-danger':status == '0'}">
                    {{ status == 1 ? "Activé" : (status == 0 ? "Désactivé" : (status == 3 ? "Rejected" : (status == 4 ? "Resigned" : status == 5 ? "Applied" : "Applied"))) }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [width]="70">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <app-list-actions
                    [item]="row"
                    [editActionCode]="'a62b8a12-3f63-4af6-8e5c-aa6c997ee1b7'"
                    [deleteActionCode]="'de2b95ca-a39c-44a0-baf0-6fc1b2b72bf8'"
                    (edit)="formEdit($event)"
                    (delete)="formDelete($event)">
                  </app-list-actions>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-row-details -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
