
<!--/ Filter Datatables -->
<div class="row">
  <div class="col-12">
    <div class="content-header">Utilisateurs</div>
  </div>

</div>
<section id="grid-option1">
  <div class="card">
    <div class="card-content">
      <div class="card-body">

        <div class="card-body table-responsive">
          <div class="form-row">

            <div class="col-12">

              <div class="col-12">

                <div class="form-row">
                  <div class="col-4">
                  </div>

                  <div class="col-4">

                  </div>

                  <div class="col-1">

                  </div>
                  <div class="col-1">
                  </div>
                  <div class="col-1">
                    <div class="form-group">
                      <label for="prenom"></label>
                      <button  type="button" class="btn btn-primary mr-2" (click)="openContent()" ><i class="ft-check-square mr-1"></i>Ajouter</button>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-11">
                </div>
              </div>
                <div class="row">
                  <div class="col-12">

                  <div class="card-body table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th >Username</th>
                      <th >Nom</th>
                      <th >Préom</th>
                      <th >Profil</th>
                      <th >Service</th>
                      <th >Fonction</th>
                      <th >Actions</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="users">
                    <tr  *ngFor="let user  of users;">
                      <td>{{user.username}}</td>
                      <td>{{user.nom}}</td>
                      <td>{{user.prenom}}</td>
                      <td>{{user.profile.nom}}</td>
                      <td>{{user.service.libelle}}</td>
                      <td>{{user.fonction.libelle}}</td>
                      <td class="text-truncate">
                        <a href="javascript:;" class="success p-0" (click)="formEdit(user)">
                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                        </a>
                        <a href="javascript:;" class="danger p-0" (click)="formDelete(user.id)">
                          <i class="ft-x font-medium-3"></i>
                        </a>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
