<div class="row">
  <div class="col-11">
    <div class="content-header">Profil</div>
  </div>
  <div class="col-1">
    <div class="content-header">
      <app-list-actions
        [item]="profil"
        [addActionCode]="'ADD_PROFIL_SPA'"
        (add)="openContent()">
      </app-list-actions>
      <!--<button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button>-->
    </div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th width="20%">Code</th>
                    <th width="60%">Nom</th>
                    <th width="20%">Actions</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="profils">
                  <tr  *ngFor="let profil  of profils;">
                    <td>{{profil.code}}</td>
                    <td>{{profil.nom}}</td>
                    <td class="text-truncate">
                      <!--<a href="javascript:;" class="success p-0" (click)="formEdit(profil)">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a href="javascript:;" class="danger p-0" (click)="formDelete(profil.id)">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                      <a routerLink="/components/profil-config" [queryParams]="{ vwp: profil.id }" class="warning p-0">
                        <i class="ft-edit font-medium-3 "></i></a>-->
                      <app-list-actions
                        [item]="profil"
                        [editActionCode]="'MOD_PROFIL_SPA'"
                        [deleteActionCode]="'DEL_PROFIL_SPA'"
                        [configuredActionCode]="'7de729ae-4b31-4f5c-ba34-cb78c3fae484'"
                        (edit)="formEdit($event)"
                        (delete)="formDelete($event)"
                        [routerLink]="'/components/profil-config'"
                        [queryParams]="{ vwp: profil.id }"
                      >
                      </app-list-actions>
                        </td>
                  </tr>
                  </tbody>
                </table>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

