<!-- Minimal statistics section start -->
<section id="minimal-statistics">
  <div class="row">
    <div class="col-12">
      <div class="content-header">Données</div>
      <p class="content-sub-header mb-1">Statistiques</p>
    </div>
  </div>
<!--
  <section class="blog-details pt-10">
    <div class="container">
      <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen
              allowfullscreen [src]="safeSrc" style="margin-top:20px;width:100%;height: 109vh!important;"></iframe>
    </div>
  </section>
  -->

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">278</h3>
                <span>New Projects</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-briefcase danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">156</h3>
                <span>New Clients</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-user success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">64.89 %</h3>
                <span>Conversion Rate</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-pie-chart warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">423</h3>
                <span>Support Tickets</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-life-buoy primary font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">278</h3>
                <span>New Posts</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-book-open primary font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="primary" [value]="80" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">156</h3>
                <span>New Comments</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-message-square warning font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="warning" [value]="35" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">64.89 %</h3>
                <span>Bounce Rate</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-trending-up success font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="success" [value]="60" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">423</h3>
                <span>Total Visits</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-map-pin danger font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="danger" [value]="40" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics section end -->

<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
  <div class="row">
    <div class="col-12 mb-1">
      <div class="content-header">Données sur les documents</div>
      <p class="content-sub-header mb-1">Statistiques sur les documents.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-warning">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">278</h3>
                <span>New Projects</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-briefcase font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-success">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">156</h3>
                <span>New Clients</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-user font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-danger">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">64.89 %</h3>
                <span>Conversion Rate</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-pie-chart font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-primary">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">423</h3>
                <span>Support Tickets</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-life-buoy font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-primary">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-book-open font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">278</h3>
                <span>New Posts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-danger">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-message-square font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">156</h3>
                <span>New Comments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-success">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-trending-up font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">64.89 %</h3>
                <span>Bounce Rate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-warning">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-map-pin font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">423</h3>
                <span>Total Visits</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics with bg color section end -->
