<!-- Minimal statistics section start -->
<section id="minimal-statistics">
  <div class="row">
    <div class="col-12">
      <p class="text-center"> <span class="badge badge-primary draggable mb-1 mr-1"> FAO - Top 20 des produits de base au Sénégal en 2023</span></p>
    </div>
  </div>
<!--
  <section class="blog-details pt-10">
    <div class="container">
      <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen
              allowfullscreen [src]="safeSrc" style="margin-top:20px;width:100%;height: 109vh!important;"></iframe>
    </div>
  </section>
  -->

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 danger" >Riz</span> <br>
                <span>1 519 700 Tonnes</span> <br>
                <span class="badge badge-success draggable" >Chiffre officiel</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/riz.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Arachides non décortiquées</span> <br>
                <span>1 493 090.16 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/arachide.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Pastèques</span> <br>
                <span>1 492  961.77 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/pasteque.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 success" >Mils</span> <br>
                <span>1 353 000 Tonnes</span> <br>
                <span class="badge badge-primary draggable" >Ciffre de sources internationales</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/mil.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Manioc, frais</span> <br>
                <span>1 349 212.14 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/manioc.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Sucre, canne</span> <br>
                <span>1 283 824.2 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/sucre.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 success bold" >Maïs</span> <br>
                <span>929 000 Tonnes</span> <br>
                <span class="badge badge-primary draggable" >Ciffre de sources internationales</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/mais.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 success bold" >Sorgho</span> <br>
                <span>445 000 Tonnes</span> <br>
                <span class="badge badge-primary draggable" >Ciffre de sources internationales</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/sorgho.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Oignons et échalotes</span> <br>
                <span>421 464.45 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/oignon.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Lait cru de vache</span> <br>
                <span>221 839.51 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/lait.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Autres légumes frais n.a.c.</span> <br>
                <span>185 227.62 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/autrelegume.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Choux</span> <br>
                <span>153 018.52 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/choux.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Tomates, fraiches</span> <br>
                <span>152 950.1 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/tomate.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Viande, poulet</span> <br>
                <span>148 471.53 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/viande.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Pois à vache secs</span> <br>
                <span>148 081.97 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/pois.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <span  class="mb-1 primary" >Pommes de terre</span> <br>
                <span>140 873.34 Tonnes</span> <br>
                <span class="badge badge-warning draggable" >Valeur imputée</span>
              </div>
              <div class="media-right align-self-center">
                <img class="rounded-circle mr-1" src="assets/img/produits/pommesterre.png"
                     height="50" width="50" alt="datatable-avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
