<div class="row">
  <div class="col-11">
    <div class="content-header">Produits</div>
  </div>
  <div class="col-1">
    <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th width="5%">Code</th>
                    <th >Libellé</th>
                    <th >Type de produit</th>
                    <th >Catégorie produit</th>
                    <th width="5%">Actions</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="produits">
                  <tr  *ngFor="let produit  of produits;">
                    <td>{{produit.code}}</td>
                    <td>{{produit.libelle}}</td>
                    <td>{{produit.typeproduit?.libelle}}</td>
                    <td>{{produit.typeproduit?.categorie?.libelle}}</td>
                    <td class="text-truncate">
                      <a href="javascript:;" class="success p-0" (click)="formEdit(produit)">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a href="javascript:;" class="danger p-0" (click)="formDelete(produit.id)">
                        <i class="ft-x font-medium-3"></i>
                      </a>

                        </td>
                  </tr>
                  </tbody>
                </table>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->


<!-- Row Details  Datatables -->
<section id="ngx-datatable-row-details">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Row Details</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <!-- ngx-datatable-row-details -->
            <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                           [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="1" [rows]="produits" [scrollbarH]="true">
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail [rowHeight]="50">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="ml-5 my-1">
                    <div><strong>City : </strong> {{ row.libelle }}</div>
                    <div><strong>Experience :</strong> {{ row.libelle }}</div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                                    [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                     [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                     (click)="rowDetailsToggleExpand(row)">
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Name" prop="full_name" [width]="200">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div>
                      <img class="rounded-circle mr-1" src="assets/img/produits/riz.png"
                           height="32" width="32" alt="datatable-avatar">
                    </div>
                    <ng-template #customAvatar>
                      <div class="avatar mr-1 ml-0"
                           [ngClass]="bg-primary">
                        <div class="avatar-content">{{ name | shortName }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height">
                      <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                      <span class="text-muted font-small-2">
                        {{ row.libelle }}</span>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
              <ngx-datatable-column name="Age" prop="age" [width]="50"></ngx-datatable-column>
              <ngx-datatable-column name="Salary" prop="salary" [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="status" [width]="100">
                <ng-template let-status="value" ngx-datatable-cell-template>
                  <div class="badge badge-pill"
                       [ngClass]="{'bg-light-primary': status == '1', 'bg-light-success':status == '2', 'bg-light-danger':status == '3' , 'bg-light-warning':status == '4' , 'bg-light-info':status == '5'}">
                    {{ status == 1 ? "Current" : (status == 2 ? "Professional" : (status == 3 ? "Rejected" : (status == 4 ? "Resigned" : status == 5 ? "Applied" : "Applied"))) }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [width]="70">
                <ng-template ngx-datatable-cell-template let-row="row" >
                  <a href="javascript:;" class="success p-0" (click)="formEdit(row)">
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                  </a>
                  <a href="javascript:;" class="danger p-0" (click)="formDelete(row.id)">
                    <i class="ft-x font-medium-3"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-row-details -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Row Details  Datatables -->
