<div class="row">
  <div class="col-11">
    <div class="content-header">Audit - Journaux</div>
  </div>
</div>
<!--Grid options Starts-->
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
       <!-- <div class="card-header">
          <div class="col-11">

          </div>
          <div class="col-1">
            <div class="content-header">    <button type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button></div>
          </div>

        </div>-->
        <div class="card-content">
          <div class="card-body">

              <div class="card-body table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th >Identifiant</th>
                    <th >Action</th>
                    <th >Date</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="userlogs">
                  <tr  *ngFor="let userlog  of userlogs;">
                    <td>{{userlog.username}}</td>
                    <td>{{userlog.action}}</td>
                    <td>{{userlog.timestamp}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Grid options Ends-->

