<div class="action-buttons">
 <!-- <button
    (click)="editItem()"
    [disabled]="!isActionAllowed(editActionCode)">
    Modifier
  </button>
  <button
    (click)="deleteItem()"
    [disabled]="!isActionAllowed(deleteActionCode)">
    Supprimer
  </button>
-->
  <button *ngIf="isActionAllowed(addActionCode)" type="button" class="btn btn-primary mr-2" (click)="openContent()"><i class="ft-check-square mr-1"></i>Ajouter</button>
  <a *ngIf="isActionAllowed(editActionCode)" href="javascript:;" class="success p-0"
      (click)="formEdit()"
      >
    <i class="ft-edit-2 font-medium-3 mr-2"></i>
  </a>
  <a  href="javascript:;" class="danger p-0"
      (click)="formDelete()"
      *ngIf="isActionAllowed(deleteActionCode)"
  >
    <i class="ft-x font-medium-3"></i>
  </a>
</div>
