/* You can add global styles to this file, and also import other style files */

/* Ajoute les styles globaux pour les modales */
.custom-quill-editor {
min-height: calc(1.5em * 10);
  height: 80%!important; /* Hauteur en pourcentage */
  width: 90%!important;  /* Largeur en pourcentage */
}

.custom-quill-editor .ql-editor {
  height: 100%!important; /* Ajuste l'éditeur interne */
}



:root {
  --jira-blue-dark: #0747A6;
  --jira-blue: #0052CC;
  --jira-blue-light: #0065FF;
  --jira-green: #00875A;
  --jira-green-light: #36B37E;
  --jira-red: #FF5630;
  --jira-yellow: #FFAB00;
  --jira-gray-dark: #091E42;
  --jira-purple: #6554C0;
}

.jira-primary {
  color: var(--jira-blue);
}
.jira-success {
  color: var(--jira-green);
}
.jira-danger {
  color: var(--jira-red);
}
.jira-warning {
  color: var(--jira-yellow);
}

@use '@angular/material' as mat;

$jira-primary: mat.define-palette(mat.$indigo-palette, 500, 700, 900);
$jira-accent: mat.define-palette(mat.$green-palette, A200, A400, A700);
$jira-warn: mat.define-palette(mat.$red-palette);

$jira-theme: mat.define-light-theme((
  color: (
    primary: $jira-primary,
    accent: $jira-accent,
    warn: $jira-warn,
  )
));

@include mat.all-component-themes($jira-theme);


.btn-primary: hover {
    color: #fff!important;
    background-color: #0052CC!important;
    border-color: #0052CC!important;
}

.table th, .table td {
    padding: 0.1rem 0.1rem !important;
}

/* Ajoute des styles pour personnaliser davantage la taille de modal-dialog */
.custom-modal .modal-dialog {
  max-width: 70%; /* Ajuste cette valeur selon tes besoins */
  width: 80%; /* Ajuste cette valeur selon tes besoins */
  max-height: 90%; /* Ajuste cette valeur selon tes besoins */
  height: 90%; /* Ajuste cette valeur selon tes besoins */
}

/* style tableau*/

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
}
