.img-logo{
    max-height: 70px;
    margin-right: 1rem;
}
.navbar-nav {
    align-items: center;
    justify-content: center;
}
p.rds{
    font-size: 8px;
    color: #000;
    padding-top: 2px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
p.pbf{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px !important;
    font-size: 10px;
}
p.text{
    margin-bottom: 0px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase !important;
    font-size: 14px;
}

#logo{
    max-height: 48px;
}

.navbar-brand{
    align-items: center;
    justify-content: center;
}
.navbar-header-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    padding: 5px !important;
}

.senegal-logo{
    padding-top: 11px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.dropdown > a {
    justify-content: right;
    padding-right: 10px;
}
.dropdown-menu {
    inset: unset !important;
    right: 0px !important;
}
.header-conntent{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    img{
        width: 50px;
        height: 50px;
    }
}
.rounded-circle{
    height: 48px;
}

@media screen and (max-width: 768px) {
    body {
        background-color: black;
    }
    .navbar-brand {
    margin-bottom: 0px;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase !important;
    font-size: 10px;
    }
    p.pbf {
        display: none;
    }
    .rds{
        display: none;
    }
    .text{
        display: none;
    }
    .navbar-header-custom{
        flex-direction:column;
    }
}

@media screen and (max-width: 370px){
    body {
        background-color: black;
    }
    .navbar-header-custom{
        flex-direction:column;
    }
}
